<div class="question_module">

  <div class="qm_votes">
    <div class="qm_count">5</div>
    <div>votes</div>
  </div>

  <div class="qm_status">
    <div class="qm_count">6</div>
    <div>answers</div>
  </div>

  <div class="qm_views">
    <div class="qm_count">7</div>
    <div>views</div>
  </div>

  <div class="qm_summary">

    <h3><a href="#" title="#">Hey this is a nice Admin Question</a></h3>
    <span class="label label-primary">Default</span>

    <div class="qm_info">
      <%= time_ago_in_words(question.created_at) %> ago
      <%= link_to question.user.user_name, question.user %>
      <%= question.user.points %>
    </div>

  </div>

</div>