<% unless user_signed_in? %>
<div class="heartstonia_welcome_jumbo">
  <h1>Welcome to Hearthstonia</h1>
  <br>
  <p>
    <%= link_to new_user_registration_path, class: "ui-button sub-beta-button" do %>
      <span class="button-content">Register for the Beta</span>
    <% end %>
  </p>
  <p class="hwj_link">
  <%= link_to "learn more", '#', class: "hwj_link" %>
  </p>
</div>
<% end %>


<div class="row">

  <div class="col-md-9">
    <%= render @questions %>
  </div>

  <div class="col-md-3">
    Here goes something
  </div>

</div>




