<div class="jumbotron center">
  <h1>Welcome to Hearthstonia</h1>
  <p>
    <%= link_to new_user_registration_path, class: "ui-button sub-beta-button" do %>
      <span class="button-content">Register for the Beta</span>
    <% end %>
  </p>

</div>

<div class="row">

  <div class="col-md-9">
    <%= render @questions %>
  </div>

  <div class="col-md-3">
    Here goes something
  </div>

</div>




