<div class="jumbotron center">
  <h1>Welcome to Hearthstonia</h1>
  <p>
    <%= link_to new_user_registration_path, class: "ui-button sub-beta-button" do %>
      <span class="button-content">Register for the Beta</span>
    <% end %>
  </p>
</div>

<% if user_signed_in? %>
  <%= render @questions %>
<% end %>