<%= form_for [@question, @answer] do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h1>Edit your Answer</h1>
      </div>
    </div>

    <div class="panel-body">

      <div class="form-group">
        <%= f.text_area :body, class: "redactor redactor-box" %>
      </div>

    </div>


    <div class="panel-footer">
      <div class="actions">
        <button type="submit" class="ui-button button1">
          <span class="button-left">
            <span class="button-right"> Edit your Answer</span>
          </span>
        </button>

      <a href="javascript:history.back()">
        <button class="ui-button button1">
            <span class="button-left">
              <span class="button-right"> Back </span>
            </span>
        </button>
      </a>

      </div>
    </div>
  </div>
<% end %>
