// le Card Icons


// le mana
.icon-mana {
  background-image: url("http://static-hearth.cursecdn.com/1-0-5070-19661/Skins/Hearth/images/icons/sprited/sprited.png?v=f3ed1bb2-4b89-4144-a2af-8c5c72561d62");
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.icon-mana {
  background-position: 0 -32px;
  width: 16px;
  height: 16px;
}

// le attack
.icon-attack {
  background-image: url("http://static-hearth.cursecdn.com/1-0-5070-19661/Skins/Hearth/images/icons/sprited/sprited.png?v=f3ed1bb2-4b89-4144-a2af-8c5c72561d62");
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.icon-attack {
  background-position: 0 -0px;
  width: 16px;
  height: 16px;
}

// le health
.icon-health {
  background-image: url("http://static-hearth.cursecdn.com/1-0-5070-19661/Skins/Hearth/images/icons/sprited/sprited.png?v=f3ed1bb2-4b89-4144-a2af-8c5c72561d62");
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.icon-health {
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
}