// Keyboard Shorcuts
kbd {
  padding: 2px 6px 1px 6px;
  line-height: 1;
  display: inline-block;
  border-radius: .3em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #ffffff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap;
}


// Title
#question-header {
  clear: both;
  border-bottom: 1px dotted #2165a1;
  margin-bottom: 1em;
  a {
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
  }
}

// Body
.question {
  clear: both;
  padding: 10px 0 0 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Vote Cell
.votecell {
  vertical-align: top;
  width: 60px;
}

.vote {
  text-align: center;
  margin-top: -6px;
}

.question_vote_up, .question_vote_down {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 22px;
}

.question_vote_count {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: transparent;
  font-size: 22px;
}

.question_favorite {
  font-size: 22px;
}



// Question Body
.question .postcell {
  vertical-align: top;
}

.post-text {
  margin-bottom: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.3;
}

// Under Question Body
.fw {
  margin-bottom: 4px;
  width: 800px;
}

.vt {
  vertical-align: top;
}

.post-menu {
  padding-top: 2px;
}

// Right
.post-signature {
  text-align: left;
  vertical-align: top;
  width: 175px;
  height: 58px;
  padding: 5px 2px 7px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: right;
}

.user-info {
  height: 35px;
  width: 185px;
}
.user-info .user-action-time {
  margin-top: 2px;
  margin-bottom: 4px;
}
.user-info .user-avatar32 {
  float: left;
  width: 32px;
  height: 32px;
  img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
.user-info .user-details {
  float: left;
  margin-left: 5px;
  width: 145px;
  overflow: hidden;
  white-space: nowrap;
}
.user-details {
  color: #888;
  line-height: 17px;
  a {
    text-decoration: none;
    cursor: pointer;
  }
}
.reputation-score {
  font-weight: bold;
  font-size: 12px;
  margin-right: 2px;
  color: #444;
}


// Span3 on the Right
.question_stats {
  color: #444;
  padding: 0 8px 2px 8px;
  margin-bottom: 10px;
  background-color: #fbfbfb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-top: 5px;
}

.label-key {
  color: #aea79f;
  margin-bottom: 0;
  font-size: 16px;
}

// Answers
.answers_header {
  clear: both;
  height: 40px;
  margin: 20px 0 20px 0;
  background-color: #fbfbfb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow-y: hidden;
  h2 {
    margin: 10px 0 0 10px;
    font-size: 18px;
    color: #444!important;
    font-weight: normal;
  }
}


// wahts up
/* Media frame */
.media-frame { display: inline-block; width: auto; border-collapse: collapse; font-size: 0; position: relative; box-shadow: #000 0 0 5px; }
.media-frame .tl,
.media-frame .tr,
.media-frame .bl,
.media-frame .br { width: 8px; height: 8px; display: inline-block; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-corners.jpg") no-repeat; }
.media-frame span { position: absolute; display: inline-block;  background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-corners.jpg") no-repeat; }
.media-frame .tm-left,
.media-frame .tm-right,
.media-frame .bm-left,
.media-frame .bm-right { width: 13px; height: 8px; }
.media-frame .tm-mid,
.media-frame .bm-mid { width: 4px; height: 8px; left: 50%; }
.media-frame .ml-top,
.media-frame .ml-bottom ,
.media-frame .mr-top,
.media-frame .mr-bottom { width: 8px; height: 10px; }
.media-frame .tm { height: 8px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-bg-top.jpg") repeat-x; }
.media-frame .bm { height: 8px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-bg-bottom.jpg") repeat-x; }
.media-frame .ml { width: 8px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-bg-left.jpg") repeat-y; }
.media-frame .mr { width: 8px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame-bg-right.jpg") repeat-y; }
.media-frame .tm-left,
.media-frame .tm-mid,
.media-frame .tm-right { top: 0; }
.media-frame .bm-left,
.media-frame .bm-mid,
.media-frame .bm-right { bottom: 0; }
.media-frame .ml-top,
.media-frame .mr-top { top: 8px; }
.media-frame .ml-bottom,
.media-frame .mr-bottom { bottom: 8px; }
.media-frame .tm-left,
.media-frame .bm-left { left: 8px; }
.media-frame .tm-right,
.media-frame .bm-right { right: 8px; }
.media-frame .tm-left { background-position: -3px 0; }
.media-frame .tm-mid { background-position: -30px 0; }
.media-frame .tm-right { background-position: -16px 0; }
.media-frame .bm-left { background-position: -3px -28px; }
.media-frame .bm-mid { background-position: -30px -28px; }
.media-frame .bm-right { background-position: -16px -28px; }
.media-frame .ml-top { background-position: -8px -8px; }
.media-frame .ml-bottom { background-position: -8px -18px; }
.media-frame .mr-top { background-position: -16px -8px; }
.media-frame .mr-bottom { background-position: -16px -18px; }
.media-frame .tl { background-position: 0 -8px; }
.media-frame .tr { background-position: -24px -8px; }
.media-frame .bl { background-position: 0 -20px; }
.media-frame .br { background-position: -24px -20px; }
//mine
.media-frame-unit-fix {width: 100%; p{ padding: 5px 15px 5px 5px;}}

/* Larger frame */
.media-frame2 .tl,
.media-frame2 .tr,
.media-frame2 .bl,
.media-frame2 .br { width: 11px; height: 11px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-corners.jpg") no-repeat; }
.media-frame2 span { background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-corners.jpg") no-repeat; }
.media-frame2 .tm-left,
.media-frame2 .tm-right,
.media-frame2 .bm-left,
.media-frame2 .bm-right { width: 12px; height: 11px; }
.media-frame2 .tm-mid,
.media-frame2 .bm-mid { height: 11px;  }
.media-frame2 .ml-top,
.media-frame2 .ml-bottom ,
.media-frame2 .mr-top,
.media-frame2 .mr-bottom { width: 11px; height: 12px; }
.media-frame2 .tm { height: 11px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-bg-top.jpg") repeat-x; }
.media-frame2 .bm { height: 11px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-bg-bottom.jpg") repeat-x; }
.media-frame2 .ml { width: 11px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-bg-left.jpg") repeat-y; }
.media-frame2 .mr { width: 11px; background: url("http://eu.battle.net/hearthstone/static/images/frames/media-frame2-bg-right.jpg") repeat-y; }
.media-frame2 .tm-left,
.media-frame2 .tm-mid,
.media-frame2 .tm-right { top: 0; }
.media-frame2 .bm-left,
.media-frame2 .bm-mid,
.media-frame2 .bm-right { bottom: 0; }
.media-frame2 .ml-top,
.media-frame2 .mr-top { top: 11px; }
.media-frame2 .ml-bottom,
.media-frame2 .mr-bottom { bottom: 11px; }
.media-frame2 .tm-left,
.media-frame2 .bm-left { left: 11px; }
.media-frame2 .tm-right,
.media-frame2 .bm-right { right: 11px; }
.media-frame2 .tm-left { background-position: -10px 0; }
.media-frame2 .tm-mid { background-position: -44px 0; }
.media-frame2 .tm-right { background-position: -22px 0; }
.media-frame2 .bm-left { background-position: -10px -35px; }
.media-frame2 .bm-mid { background-position: -44px -35px; }
.media-frame2 .bm-right { background-position: -22px -35px; }
.media-frame2 .ml-top { background-position: -11px -11px; }
.media-frame2 .ml-bottom { background-position: -11px -23px; }
.media-frame2 .mr-top { background-position: -22px -11px; }
.media-frame2 .mr-bottom { background-position: -22px -23px; }
.media-frame2 .tl { background-position: 0 -11px; }
.media-frame2 .tr { background-position: -33px -11px; }
.media-frame2 .bl { background-position: 0 -24px; }
.media-frame2 .br { background-position: -33px -24px; }


.media-frame .overlay { display: none; position: absolute; background: rgba(0,0,0,.5) url("http://eu.battle.net/hearthstone/static/images/buttons/artwork-zoom.png") 50% center no-repeat; height: 131px; width: 258px; top: 8px; left: 8px; cursor: pointer; }