.question_module {
  height: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #d4c08f;
}

/* Votes */
.qm_votes {
  float: left;
  height: 38px;
  width: 38px;
  margin: 6px 10px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_votes .qm_count {
  margin-bottom: 11px;
  line-height: 13px;
  font-size: 16px;
}


/* Status */
.qm_status {
  float: left;
  height: 38px;
  width: 48px;
  margin: 6px 10px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_status .qm_count {
  margin-bottom: 11px;
  line-height: 13px;
  font-size: 16px;
}

/* Views */
.qm_views {
  float: left;
  height: 38px;
  width: 48px;
  margin: 6px 10px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_views .qm_count {
  margin-bottom: 11px;
  line-height: 13px;
  font-size: 16px;
}


// Question Module Summary (Left Side)
.qm_summary {
  display: block;
  width: 100%;
  h3 {
    font-size: 15px;
    line-height: 15px;
  }
  a {
    text-decoration: none;
  }
}

// Tags
.qm_summary .ui-pagination {
  display: inline-block;
  margin: -2px 0 0 -3px!important;
}

// Question Module Info (Righ side)
.qm_info {
  float: right;
  white-space: nowrap;
  line-height: 18px;
  .qm_info_user a {
    color: #e22c14;
  }
}