.question_module {
  display: block;
}

/* Votes */
.qm_votes {
  float: left;
  height: 38px;
  width: 38px;
  margin: 0 5px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_votes .qm_count {
  margin-bottom: 11px;
}


/* Status */
.qm_status {
  float: left;
  height: 38px;
  width: 48px;
  margin: 0 5px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_status .qm_count {
  margin-bottom: 11px;
}

/* Views */
.qm_views {
  float: left;
  height: 38px;
  width: 48px;
  margin: 0 5px 0 0;
  padding: 0 0 7px 0;
  text-align: center;
}

.qm_views .qm_count {
  margin-bottom: 11px;
}


// Question Module Summary (Left Side)
.qm_summary {
  width: 100%;
  h3 {
    font-size: 15px;
    line-height: 15px;
  }
  a {
    text-decoration: none;
  }
}

// Question Module Info (Righ side)
.qm_info {
  float: right;
  white-space: nowrap;
  line-height: 18px;
}